<footer id="footer" class="footer footer-1">	
	<!-- Widget Section
	============================================= -->
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-about">
					<div class="footer--widget-title">
						<h5>About Us</h5>
					</div>
					<div class="footer--widget-content">
						<p>We are Whole business, our strategists will help you set an objective and choose your tools, developing a plan that built for your business. </p>
						<ul class="list-unstyled mb-0">
							<li><span>Call:</span> 002 01065370701</li>
							<li><span>Email:</span> 7oroof@7oroof.com</li>
							<li><span>Visit:</span> 22 Albahr St, Tanta, Egypt</li>
						</ul>
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-recent">
					<div class="footer--widget-title">
						<h5>Recent Posts</h5>
					</div>
					<div class="footer--widget-content">
						<div class="entry">
							<div class="entry--meta">Oct 15, 2016</div>
							<div class="entry--title">
								<a href="#">Four ways to cheer yourself up on the Blue Monday!</a>
							</div>
						</div><!-- .entry end -->
						<div class="entry">
							<div class="entry--meta">Oct 10, 2016</div>
							<div class="entry--title">
								<a href="#">Old cameras can capture images better than nowdays camera!</a>
							</div>
						</div><!-- .entry end -->
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 footer--widget-newsletter">
					<div class="footer--widget-title">
						<h5>Stay Updated</h5>
					</div>
					<div class="footer--widget-content">
						<p>Don’t miss to follow us & subscribe to our new feeds, kindly fill the form below.</p>
						<form class="form-newsletter">
							<input type="email" name="email" class="form-control" placeholder="Subscribe Our Newsletter">
							<button type="submit"><i class="fa fa-long-arrow-right"></i></button>
						</form>
						<div class="clearfix"></div>
						<div class="social">
							<a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="share-instagram" href="#"><i class="fa fa-instagram"></i></a>
							<a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div><!-- .col-md-3 end -->
				<div class="col-xs-12 col-sm-6 col-md-3 widget-instagram">
					<div class="footer--widget-title">
						<h5>Instagram</h5>
					</div>
					<div class="footer--widget-content">
						<div id="instafeed" class="instafeed"></div>
					</div>
				</div><!-- .col-md-3 end -->
			</div>
		</div><!-- .container end -->
	</div><!-- .footer-widget end -->
	
	<!-- Copyrights
	============================================= -->
	<div class="footer--bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-6">
					<div class="footer--copyright">
						<span>&copy; 2017 Whole, With Love by</span> <a href="http://themeforest.net/user/7oroof/portfolio?ref=zytheme">7oroof.com</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-6">
					<div class="footer--links pull-right pull-none-xs">
						<ul class="list-inline mb-0"> 
							<li><a href="#">About</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- .container end -->
	</div><!-- .footer-copyright end -->
</footer>